.navbar {
  background: rgba(0, 0, 0, 0); /* fallback for old browsers */

  .navbar-item {
    padding: 15px;
    font-size: 20px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 1.2em;
  }

  .navbar-item .buttons {
    font-size: 20px;
  }

  .navbar-item .is-text {
    text-decoration: none;
  }

  .navbar-item:hover {
    background-color: transparent !important;
  }

  .navbar-menu {
    background: transparent;
  }

}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

@media only screen and (max-width: 700px) {
  .navbar {
    margin: -1em;
    padding: 0.5em;

    .logo {
      background: transparent;
      margin-top: 4px;
    }

    .navbar-menu .is-active {
      background-color: rgba(0,0,0,0);
    }

    .navbar-burger {
      top: 0.7em;
      left: -1em;
      display: block;
      position: relative;
      float: right;
      height: 40px;
      width: 40px;
    }

    .navbar-burger span {
      background: white;
      display: block;
      position: absolute;
      border-radius: 9px;
      z-index: 10;
      height: 4px;
      width: 90%;
      left: 0;
    }

    .navbar-burger {
      right: 1em;
      background-color: transparent;
    }
    .navbar-item {
      padding-left: 0.5em;
      padding-bottom: 0.5em;
    }
    .navbar-item .blog,
    .navbar-item .login {
      padding-left: 0.5em;
      line-height: 2;
    }

    .navbar-burger span:nth-child(1) {
      top: 14px;
    }
    .navbar-burger span:nth-child(2) {
      top: 24px;
    }
    .navbar-burger span:nth-child(2) {
      top: 34px;
    }
  }
}
