.hero-container {
}

.logo {
    padding: 40px;
    padding-top: 140px;
    .is-flex-widescreen-only {
        padding-top: 190px;
    }
}


.logo-shadow {
    padding: 10px;
    padding-top: 170px;
}

.logo-shadow {
    padding-top: 10px;
    margin-bottom: 100px;
}
.background { 
    //background-color: red;
    height: 110vh;
}