.hero-container {
}

.logo {
    padding: 40px;
    padding-top: 200px;
    .is-flex-widescreen-only {
        padding-top: 190px;
    }
    padding-bottom: 180px;
}

// .logo-shadow {
//     width: 588px;
// }

.background { 
    //background-color: red;
    height: 100vh;
}
