@import '@/scss/_variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
  min-height: 120vh;
  height: auto;
  font-family: 'Yantramanav', sans-serif;
}
