.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  height: 60px;
}

.has-text-white {
  color: white;
}

.footer-copy {
  padding-top: 17px;
  padding-right: 15px;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}