// colors
// $black: #201c38;
$primary: white;
// $primary-200: #FFCCD8;
// $primary-400: #FF4F6F;
// $primary-600: #DF1144;
// $primary-700: #BA0843;
// $primary-800: #760A40;
// $primary-900: #501E3B;
// $purple-300: #B694FF;
// $purple: #5701FE;
// $purple-700: #4909B3;
// $purple-900: hsl(248.6,33.3%,16.5%);
// $grey-dark: #27323d;
// $grey: #899097;
// $grey-lighter: #D2DADF;
// $white-ter: #F7F9FC;
// $green: #2ABF28;

//typography

$link: $primary;

$radius-large: 10px;

$navbar-item-img-max-height: 3rem;
// $navbar-item-active-color: $primary;
$navbar-item-hover-background-color: transparent;

//forms
$input-radius: 10px;

//buttons
$button-font: 'Raleway', sans-serif;
$button-padding-horizontal: 1.5em;

// $section-padding: 3rem 2rem;
$footer-padding: 5px;
$footer-background-color: rgba(0,0,0,0.1);